{
  "parser": "@babel/eslint-parser",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "globals": {
  },
  "rules": {
    "arrow-parens": "off",
    "consistent-return": "off",
    "func-names": "off",
    "import/extensions": "off",
    "max-len": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-multiple-empty-lines": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "react/static-property-placement": "off"
  }
}